{% extends "base.php.twig" %}

{% block title %}{{title}}{% endblock %}

{% block content %}
    <ul>
    {% for value in article %}
        <li>
            {{value}}
        </li>
    {% endfor %}
    </ul>
{% endblock %}